:root {
  --color-main:#00c133;
  --color-main-dark:#00a326;
  --bg-gray: #f2f2f2;
  --color-black: #333333;
  --bold-font: 600;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 微軟正黑體, "Work Sans", Arial, sans-serif;
}

a {
  color: white !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

video {
  max-width: 100%;
  margin: 0 10px;
}

table > tbody > tr {
  border: 1px solid #333;
}

table > tbody > tr > td {
  border: 1px solid #333;
  padding: 10px;
  font-size: 20px;
  text-align: left;
}

table > tbody > tr > td.highlight {
  background-color: aliceblue;
}

img.full {
  width: 100%;
}

#nav {
  /* container */
}
#nav > a {
  display: none;
}
#nav li {
  position: relative;
}

/* first level */

#nav > ul {
  height: 3.75em;
}
#nav > ul > li {
  width: 25%;
  height: 100%;
  float: left;
}

/* second level */
#nav li ul {
  display: none;
  position: absolute;
  top: 100%;
}
#nav li:hover ul {
  display: block;
}

.mHeader {
  display: none;
}

/* 手機版導覽列 640 */
@media only screen and ( max-width: 40em ) {
  .header {
    display: none !important;
  }
  .logoImg {
    height: 2.5rem !important;
  }
  .logo {
    font-size: 2.2rem !important;
  }
  #nav {
    position: relative;
    height: 50px;
    padding-top: 10px;
    background-color: white !important;
    border-bottom: 1px solid var(--color-main);
  }
  #nav > a {
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 0 12px 10px 12px;
  }
  #nav:not( :target ) > a:first-of-type,
  #nav:target > a:last-of-type {
    display: block;
  }
  .greenNav {
    background-color: rgba(0, 193, 51, 0.9) !important;
  }

  /* first level */

  #nav > ul {
    height: auto;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top:50px;
    border-top: 1px solid #dddddd;
  }
  #nav:target > ul {
    display: block;
  }
  #nav > ul > li {
    width: 100%;
    float: none;
    border-bottom: 1px solid #dddddd;
  }
  /* second level */
  #nav li ul {
    position: static;
  }
  .mHeader {
    display: initial !important;
    margin-right: 10px;
  }
}

/* header 樣式 start */

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

@media screen and (max-width: 540px) {
  .header {
    display: block;
    margin-bottom: 40px;
  }
  .link {
    border-bottom: 1px solid green;
    margin: 5px 0px !important;
    padding: 10px;
  }
  .slogan {
    float: right;
  }
}

.logo {
  font-size: 2.6rem;
  font-weight: var(--bold-font);
  vertical-align: bottom;
}

.logoImg {
  height: 3rem;
  vertical-align: baseline;
}

.logoText {
  font-size: 18px;
  font-weight: var(--bold-font);
}

.slogan {
  align-self: flex-end;
}

.sloganText {
  vertical-align: bottom;
}

#nav {
  background-color: var(--color-main);
}

.greenNav {
  background-color: var(--color-main);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
  padding-inline-start: 0;
  z-index: 10;
}

.linkLevel1 {
  line-height: 4;
}

.linkLevel1:hover {
  background-color: var(--color-main-dark);
}

.linkLevel2 {
  background-color: var(--color-main-dark);
  padding: 0;
  width: 100%;
  line-height: initial;
  font-weight: 300;
}

.linkLevel2 > li {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.linkLevel2 > li:first-child {
  border-top: 1px solid rgba(255,255,255,0.5);
}

.homeBanner {
  height: 400px;
  background-image:url('../images/banner.jpg');
  background-size: cover;
  font-size: 28px;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.7);
  padding-top: 90px;
  position: relative;
}

.homeBanner .credit {
  text-shadow: none;
  color: #777;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right:0;
}

/* header 樣式 end */

.footer {
  background-color: var(--color-main);
}

/* section 共用樣式 start */
@media (min-width: 1200px){
  .secBox {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .secBox {
    width: 92%;
  }
}
.secBox {
  margin: 0 auto;
}

.secCenter {
  text-align: center;
}

.secPadding {
  padding: 40px;
}

.secBg:nth-child(odd), .secColorBg {
  background-color: var(--bg-gray);
}

.secTitle {
  font-size: 30px;
  padding-bottom: 8px;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--color-main);
  display: inline-block;
}

.secSubtitle {
  margin-top: 50px;
  font-size: 24px;
}

.secSubtitle:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 3px;
  height: 24px;
  top: 3px;
  right: 8px;
  background-color: var(--color-main);
}

.secCnt {
  font-size: 16px;
  line-height: 1.5;
}

.cntSm {
  font-size: 12px;
}

.cntLg {
  font-size: 18px;
}

.cntLeft {
  text-align: left;
}

.cntMargin {
  margin: 15px 0;
}

.shapeCircle {
  border-radius: 50%;
}

.secList {
  list-style: none;
  line-height: 2;
  margin-top: 10px;
  display: inline-block;
  margin: auto;
}

.secList li {
  position: relative;
}

.secList.align-left {
  margin-left: 10px;
}

.secList li:before {
  position: absolute;
  display: inline-block;
  content: '';
  background-image: url(../images/checked.png);
  background-size: cover;
  height: 15px;
  width: 15px;
  left: -22px;
  top: 9px;
}
/* section 共用樣式 end */

/* card 共用樣式 start */
.cardBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  align-items: center;
}

.cardBox .card {
  background-color: white;
  max-width: 300px;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 7px 10px rgba(0,0,0,0.1);
}

.card a {
  color: var(--color-black) !important;
}

.cardBox .card.sm {
  max-width: 200px;
  min-height: 230px;
}

.cardBox .card.md {
  max-width: 300px;
}

.cardBox .card.lg {
  max-width: 500px !important;
}

.cardBox .card.full {
  max-width: 90% !important;
}

.cardBox .card .cardName {
  text-align: center;
  padding: 5px;
  margin: 0 20px 15px 20px;
  border-bottom: 2px solid var(--color-main);
}

.cardBox .card .cardImg {
  width: 100%;
}
/* card 共用樣式 end */

#scrollToTop {
  position: fixed;
  right: 15px;
  bottom: 100px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 25px;
  background-image: url(../images/up-arrow.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
}