section
  .secBox
    header.header
      div 
        img.logoImg(src='./images/logo-zh.svg' alt='理路')
        span.logo  精密科技有限公司
        .logoText Real Rule Precision Technology Co. Ltd.
      .slogan
        span.sloganText  觀功念恩，代人著想
        img(src='./images/logo.svg' height='40')
  nav#nav(role='navigation')
    .mHeader(style='float:right')
      img.logoImg(src='./images/logo-zh.svg' alt='理路')
      span.logo 精密科技有限公司
    a(href='#nav' title='Show navigation')
    a(href='#' title='Hide navigation')
    ul.greenNav 
      li.linkLevel1
        a(href='index.html') 首頁
      li.linkLevel1
        a(href='product.html' aria-haspopup='true') 產品介紹
        ul.linkLevel2 
          li
            a(href='product.html#sec1') 智慧托板
          li  
            a(href='product.html#sec2') 智慧刀架
          li  
            a(href='product.html#sec3') T型定位螺帽
          li  
            a(href='product.html#sec4') 彈性製造系統規劃
          li  
            a(href='product.html#sec5') 技術服務
      li.linkLevel1
        a(href='patent.html' aria-haspopup='true') 專利技術
        ul.linkLevel2
          li
            a(href='patent.html#sec1') 智慧托板
          li  
            a(href='patent.html#sec2') 智慧刀架
          li  
            a(href='patent.html#sec3') T型定位螺帽
      li.linkLevel1
        a(href='http://machinecp.azurewebsites.net/index_tw') 機器商業價值