.secBox
  .cardBox
    .card.sm
      a(href='product.html#sec1') 
        .cardName 智慧托板
        img.cardImg(src='./images/五軸加工機托板交換-1.png' alt='五軸加工機托板交換')
    .card.sm
      a(href='product.html#sec2') 
        .cardName 智慧刀具托板模組
        img.cardImg(src='./images/智慧刀具托板模組-2.png' alt='智慧刀具托板模組')
    .card.sm
      a(href='product.html#sec3') 
        .cardName T型螺帽
        img.cardImg(src='./images/T型螺帽-1.png' alt='T型螺帽')
    .card.sm
      a(href='product.html#sec4') 
        .cardName 彈性製造系統規劃
        img.cardImg(src='./images/彈性製造系統-1.png' alt='彈性製造系統')
    .card.sm
      a(href='product.html#sec5') 
        .cardName 技術服務
        img.cardImg(src='./images/pic02.jpg' alt='技術服務')