extends ../partial/layout.pug

block mainContent
  section.secPadding.secBg
    include ../partial/productList.pug
  section.secCenter.secPadding
    h2.secTitle 創業經營理念
    p.secCnt 創立於2018年8月1日
    p.secCnt
      | 以創新科技、技術研發智慧化國產關鍵零組件、提供智慧解決方案為目標，
      br
      | 建立以『觀功念恩、代人著想』為核心理念之團隊組織，
      br
      | 經營客製化技術服務，客戶至上，在利他中行自利。
      br
      | 尋求理念契合工作夥伴及企業合作夥伴，為下一代青年夥伴設立一個創業平台
  section.secCenter.secPadding.secBg
    h2.secTitle 經營與研究團隊
    div
      div
        img.shapeCircle(src='./images/founder.jpg' alt='林肇遠 Samuel Lin' width='140' height='140')
        .cntMargin
          .secCnt
            span(style='font-size:18px') 
              | 林肇遠
              br
              | Samuel Lin
              br
              | Former Vice general manager / FFG
        p.secCnt
          | 曾任友嘉實業集團研發中心執行副總，CNC工具機研發30年經驗，研發經營管理，
          br
          | 新產品開發商品企劃，領導團隊開工具機產品獲多項專利及研發創新競賽優等獎項。
          br
          | 負責切削顫振基礎技術、航太加工設備聯盟、A+前瞻型高階自動化解決方案等多項業界科專計畫主持人、現任台灣智能儀器發明學會理事
    hr
    div.row
      div.col-md-6
        div
          img.shapeCircle(src='./images/member-gcf.png' alt='郭加鋒' width='140')
        .cntMargin
          .secCnt
            span(style='font-size:18px') 
              | 郭加鋒
              br
              | 設計專員
        p.secCnt
          | 屏東科技大學機械系
          | 新可大設計課長，設計開發、專案管理、TPS改善推行
      div.col-md-6
        div
          img.shapeCircle(src='./images/member-lwm.png' alt='李偉銘' width='140')
        .cntMargin
          .secCnt
            span(style='font-size:18px') 
              | 李偉銘
              br
              | 設計專員
        p.secCnt
          | 虎尾科技大學資工系
          br
          | 專任講師
          br
          | 聖森雲端科技-軟體工程師
          br
          | 碩利資訊 -  軟體工程師
    hr
    div.row
      div.col-md-6
        div
          img.shapeCircle(src='./images/founder-3.jpg' alt='YI CHEN WU' width='140' height='140')
        .cntMargin
          .secCnt
            span(style='font-size:18px') 
              | 吳宜臻
              br
              | Yi-Chen Wu
              br
              | 業務專員
      div.col-md-6
        div
          img.shapeCircle(src='./images/member-ckc.png' alt='陳坤濯' width='140' height='140')
        .cntMargin
          .secCnt
            span(style='font-size:18px') 
              | 陳坤濯
              br
              | 科技顧問
          p.secCnt
            | 清大化工碩士，曾在工研院化工所製程研究室擔任國科會專案計劃主持人，後加入台塑六輕擴廠工程，擔任製程工廠廠長。
            | 專長為製程開發，設計模擬，建廠規劃，工廠操作管理營運。
  section.secCenter.secPadding
    .secTitle  合作夥伴
    .secCnt
      | 虎尾科技大
      br
      | 中興大學
      br
      | 工研院
      br
      | 資策會
      br
      | PMC
  section.secCenter.secPadding.secBg
    .secTitle 聯絡我們
    .secCnt
      | 電話: 04-2671-0818
      br
      | 手機: 0933-193-886
      br
      | E-mail: realruletech@gmail.com
      br
      | 地址: 台中市大安區福東一路110號