extends ../partial/layout.pug

block mainContent
  section.secCenter.secPadding.secColorBg#sec1
    .secBox
      h2.secTitle 托板識別智慧加工系統
      img.full(src='../images/patentM550673-1.jpg' alt='patent-M550673')
  section.secCenter.secPadding.secColorBg#sec2
    .secBox
      h2.secTitle 刀具托板系統及刀具托板
      img.full(src='../images/patentM570216-1.jpg' alt='patent-570216' style="margin-bottom:10px")
      img.full(src='../images/patent1190353.2-1.jpg' alt='patent-1190353.2')
  section.secCenter.secPadding.secColorBg#sec3
    .secBox
      h2.secTitle 智慧刀具座
      img.full(src='../images/patent684488-1.jpg' alt='pattent-684488')