extends ../partial/layout.pug

block mainContent
  section.secPadding.secBg
    include ../partial/productList.pug
  section.secCenter.secPadding#sec1
    .secBox
      h2.secTitle 智慧工件托板模組
      p.secCnt
      | 三軸立(臥)式加工機與五軸加工機托板交換
      br
      | 提供製造自動化產線多托板交換系統，具創新專利
    .cardBox
      .card.lg
        img.cardImg(src='./images/五軸加工機托板交換-1.png' alt='五軸加工機托板交換-1')
      .card.lg  
        img.cardImg(src='./images/五軸加工機托板交換-2.png' alt='五軸加工機托板交換-2')
  section.secCenter.secPadding
    .secBox
      h2.secTitle 智慧托板交換模組
      h3.secSubtitle 智慧工件托板模組(專利 M550673)
      .cardBox
        .card.lg
          img.cardImg(src='./images/智慧工件托板模組專利-1.png' alt='智慧工件托板模組專利')
        .secCnt.cntLeft
          ul.secList
            li 托板識別: 智慧托板，依不同夾具識別，包括邏輯控制 ，基準座標，加工程式，刀具管理，智慧沖屑
            li 多托板交換定位精度0.02mm，重複性5um
            li 油氣壓耦合器，蓄壓功能
            li 依數量類別，可進行托板移動或工件流動
      h3.secSubtitle 多對一、一對多自由交換
      .cardBox
        .card.lg
          img.cardImg(src='./images/智慧工件托板模組專利-2.png' alt='多對一、一對多自由交換')
      h3.secSubtitle 智慧辨識、自動補償
      .cardBox
        .card.sm
          .cardName 排程
          img.cardImg(src='./images/智慧工件托板模組-step1.png' alt='智慧工件托板模組-step1')
        img(src='./images/arrow-point-to-right.svg' width='30' height='30')
        .card.sm
          .cardName 基準座標
          img.cardImg(src='./images/智慧工件托板模組-step2.png' alt='智慧工件托板模組-step2')
        img(src='./images/arrow-point-to-right.svg' width='30' height='30')
        .card.sm
          .cardName 編號
          img.cardImg(src='./images/智慧工件托板模組-step3.png' alt='智慧工件托板模組-step3')
        img(src='./images/arrow-point-to-right.svg' width='30' height='30')
        .card.sm
          .cardName 夾具
          img.cardImg(src='./images/智慧工件托板模組-step4.png' alt='智慧工件托板模組-step4')
        img(src='./images/arrow-point-to-right.svg' width='30' height='30')
        .card.sm
          .cardName NC程式刀具
          img.cardImg(src='./images/智慧工件托板模組-step5.png' alt='智慧工件托板模組-step5')
        .secCnt.cntLeft
          ul.secList
            li 彈性製造混線
            li 手動與自動裝夾工件，具備托板識別功能
            li 
            | 複合矩陣快速自動換模，三軸機至五軸機之間可快速換模，
            br
            | 不須多耗用一組夾具，節省夾具更換的時間，亦可達到提升稼動率與加工良率。
      .cardBox
        .card.lg
          img.cardImg(src='./images/智慧托板換模-1.jpg' alt='智慧托板換模')
        .card.lg
          img.cardImg(src='./images/智慧托板換模-2.jpg' alt='智慧托板換模')
      .cntLg 智慧托板換模 三大特點
      ul.secList.cntLeft
        li 自動換模、人工自動裝夾工件
        li 智慧辨識、自動補償
        li 多對一、一對多自由交換
  section.secCenter.secPadding.secBg#sec2
    .secBox
      h2.secTitle 智慧刀具托板模組
      .secCnt 
      | 具創新專利研發，能針對廠內既有設備自動轉型化提供最低投資成本改造方案，
      br
      | 共用現有工件托板、托板交換介面及托板運輸軌道、建構一中央刀倉，不需額外投資建置昂貴刀具輸送系統
      .cardBox
        video(width='640' height='480' controls)
          source(src='./videos/智慧刀具托板模組2.mp4' type='video/mp4')
          | Your browser does not support the video tag.
        video(width='640' height='480' controls)
          source(src='./videos/立式托板交換.mp4' type='video/mp4')
          | Your browser does not support the video tag.
      .cardBox
        .card.lg
          img.cardImg(src='./images/智慧刀具托板模組-2.png' alt='智慧刀具托板模組')
        ul.secList.cntLeft(style="margin:20px 0")
          li 提供現有加工產線改造自動化中央刀倉解決方案 
          li 依客戶加工機規格設計，提供智慧換刀軟體 
          li BT/CAT,#30/#40/#50立臥式，最多可裝30把刀 
          li 刀具裝夾容易，可任意位置取放可自動記憶刀具位置 
          li 具大徑刀取放刀套 
          li 具有無刀具感測 
          li 具資料傳輸介面，結合刀具壽命與中央刀倉管理
  section.secCenter.secPadding#sec3
    .secBox
      h2.secTitle T型螺帽
      .cardBox
        .card.lg
          img.cardImg(src='./images/T型螺帽-1.png' alt='T型螺帽-1')
        .card.lg
          img.cardImg(src='./images/T型螺帽-2.png' alt='T型螺帽-2')
      ul.secList.cntLeft
        li 隱藏式T型導套，不占工作台面積，具位置鎖固功能，可做為基準承靠面隨意放在T型槽任意位置
        li 具精密導引孔，可依夾具需求設計直接配置治具導引孔不需額外裝置治具板
        li 也可提供一般T型螺帽夾持功能
        li 提供客製化設計
  section.secCenter.secPadding.secBg#sec4
    .secBox
      h2.secTitle 彈性製造系統規劃
      .cardBox
        video(width='640' height='480' controls)
          source(src="./videos/彈性製造系統規劃.mp4" type='video/mp4') 
          | Your browser does not support the video tag.
        video(width='640' height='480' controls)
          source(src="./videos/彈性製造系統規劃-2.mp4" type='video/mp4') 
          | Your browser does not support the video tag.
      h2.secSubtitle 智慧製造產線 航太產業
      .cardBox
        .card.full
          img.cardImg(src='./images/智慧製造產線_航太.png' alt='智慧製造產線_航太')
        ul.secList.cntLg.cntLeft
          li TV1588立式加工機x2+ TV1588立式加工機+CNC401 4th軸轉台
          li 側面取放大小托板
          li 工件托板架共18格位(有無偵測)
          li 工件托板架12格/預留做120把刀中央刀倉(有無偵測)
          li 裝夾站4分割定位，單向最大轉180度，供給各1路油氣，ROBOT夾持大托板在0度，小托板在90度
      h2.secSubtitle 航太產線應用
      .cardBox
        .card.full
          img.cardImg(src='./images/彈性製造系統_航太-1.png' alt='彈性製造系統_航太-1')
        .card.lg
          img.cardImg(src='./images/彈性製造系統_航太-2.png' alt='彈性製造系統_航太-2')
        .card.lg
          img.cardImg(src='./images/彈性製造系統_航太-3.png' alt='彈性製造系統_航太-3')
      video(width='640' height='480' controls)
        source(src="./videos/彈性製造系統_航太.mp4" type='video/mp4') 
        | Your browser does not support the video tag.  
  section.secCenter.secPadding#sec5
    .secBox
      h2.secTitle 技術服務
      .cardBox
        ul.secList.cntLeft.cntLg
          li 機械結構有限元素分析
          li 研發專案輔導:商品企劃、市場定位
          li 高精工具機研發
          li 機械關鍵零組件設計開發